<!DOCTYPE html>
<html lang="es">
    <a href="/registrar_turno">Registrar Turno</a>
<head>
    <meta charset="UTF-8">
    <title>Registrar Turno</title>
</head>
<body>
    <h1>Registrar Turno</h1>
    <form method="POST">
        <label>Fecha:</label>
        <input type="date" name="fecha" required><br><br>

        <label>Hora:</label>
        <input type="time" name="hora" required><br><br>

        <label>Cliente:</label>
        <select name="id_cliente" required>
            {% for cliente in clientes %}
                <option value="{{ cliente[0] }}">{{ cliente[1] }}</option>
            {% endfor %}
        </select><br><br>

        <label>Servicio:</label>
        <select name="id_servicio" required>
            {% for servicio in servicios %}
                <option value="{{ servicio[0] }}">{{ servicio[1] }}</option>
            {% endfor %}
        </select><br><br>

        <input type="submit" value="Registrar Turno">
    </form>
</body>
</html>